<h1>Lista de Produtos</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Valor Total</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each produtos}}
        <tr>
            <td>{{id}}</td>
            <td>{{produto}}</td>
            <td>{{preco}}</td>
            <td>{{quantidade}}</td>
            <td>{{marca}}</td>
            <td>{{categoria}}</td>
            <td>{{valorTotal}}</td>
            <td>
                <form action="/update/{{id}}" method="post">
                    <input type="submit" value="Editar">
                </form>
                <form action="/delete/{{id}}" method="post">
                    <input type="submit" value="Deletar">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/form">Cadastrar Novo Produto</a>
